.u-section-1 .u-sheet-1 {
  min-height: 621px;
}

.u-section-1 .u-video-1 {
  width: 850px;
  height: 396px;
  margin: 80px auto 60px 91px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-video-1 {
    margin-left: 90px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 400px;
  }

  .u-section-1 .u-video-1 {
    width: 720px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 350px;
  }

  .u-section-1 .u-video-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 147px;
  }

  .u-section-1 .u-video-1 {
    height: 16px;
    width: 85px;
    margin-top: -99px;
    margin-left: 103px;
  }
}